/* Sidebar fijo */
.layout-wrapper {
    min-height: 100vh;
    display: flex;
  }
  
  /* Ajusta el ancho del sidebar */
  .sidebar {
    width: 240px;
    min-width: 240px;
    background-color: #0d6efd;
    color: white;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
  }
  
  /* Ajustar el contenido: */
  .content-wrapper {
    margin-left: 240px; /* MISMO ancho del sidebar */
    width: calc(100% - 240px);
  }
  
  /* Navbar fijo */
  .top-navbar {
    background: white;
    height: 65px;
    border-bottom: 1px solid #e6e6e6;
    display: flex;
    align-items: center;
    padding: 0 20px;
  }
  